@* ****** PROFIL / INDEX **********@
@model ProfileIndexVM

<script>
    window.onload = function () {
        ProfileMenuOption(@Model.PageId);
    };
</script>

<div class="profileSidebarMenuDiv">
    <ul id="profileUL">
        <li><a href="" onclick="ProfileMenuOption(1); return false;">Min profil</a></li>
        <li><a href="" onclick="ProfileMenuOption(2); return false;">Mina ordrar</a></li>
        <li><a href="" onclick="ProfileMenuOption(3); return false;">Ändra profil</a></li>
        <li><a asp-controller="Account" asp-action="LogOut">Logga ut</a></li>

    </ul>

</div>
<div class="profileContentDiv">

</div>
