<h1>LEVERANS</h1>
<hr />
<h2>VAR ÄR MITT PAKET?</h2>
<p>Leveranstid för standardleverans är 3-5 arbetsdagar, räknat från dagen efter du la din beställning. Får paketet plats i din brevlåda levereras det i första hand dit. Får det inte plats i din brevlåda hamnar paketet hos ditt utlämningsställe och du får då en sms-avisering till ditt registrerade mobilnummer. Du kan spåra ditt paket här genom att söka på ditt kollinummer.</p>
<h2>SAKNAR DU DIN ORDERBEKRÄFTELSE?</h2>
<p>Har du inte fått din orderbekräftelse kort efter att du gjort din order, kan det betyda att något gått fel med ditt köp. Logga in på Mina sidor för att se status för din order. Gå till ”Mina köp”, sök upp ordern och dubbelkolla så att allt ser ok ut.</p>
<h2>MIN VARA BLEV RESTNOTERAD, VAD GÖR JAG FÖR ATT FÅ VARAN?</h2>
<p>Om du haft otur och fått din vara restnoterad kommer den tyvärr inte att skickas ut till dig. Det bästa du kan göra då är att lägga en produktbevakning på varan, då kommer du att få ett mejl så fort den kommer in igen. Tänk på att vara snabb på att beställa varan då eftersom mejlet går ut till alla som lagt samma produktbevakning. Vill du veta mer om återbetalningar? Klicka här.</p>