<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FMC Webshop</title>
    <link href="~/StaticFiles/StyleSheets/layoutStyleSheet.css" rel="stylesheet" />
</head>
<body>
    
        <header class="pageHead">
            <a asp-controller="Home" asp-action="Index">
                <div class="topHead">
                    <div id="logo"></div>
                    <div id="searchBar"></div>
                </div>
            </a>

            <div class="menuBar">

                <ul id="menuList">

                    <li id="skorMenuLi"><a>SKOR &#x25BE;</a></li>
                    <li id="varumarkenMenuLi"><a>VARUMÄRKEN &#x25BE;</a></li>
                    <li id="accessoarerMenuLi"><a>ACCESSOARER &#x25BE;</a></li>
                    <li><a asp-controller="Home" asp-action="Guide">GUIDE</a></li>
                    <li><a href="http://www.dinsko.se/">REA</a></li>

                </ul>

                <div id="menuIcons">
                    <img id="userLogo" src="~/StaticFiles/Pics/Layout/userLogo.png" />
                    <img id="cartLogo" src="~/StaticFiles/Pics/Layout/cartLogo.png" />
                    <div id="cartCount"></div>
                </div>

            </div>

        </header>

        <div class="dropDownMenu">

        </div>

        <div class="userAndCartDiv">

        </div>

        <div class="wrapper">
            @RenderBody()
        </div>
    
    <footer class="pageFoot">
        <div class="infoFoot">
            <table class="footTable">
                
                <tr>
                    <th>KUNDSERVICE</th>
                    <th>INFORMATION</th>
                </tr>
                <tr>
                    <td><a asp-controller="CustomerSupport" asp-action="Index" asp-route-id=1>Kontakta oss</a></td>
                    <td><a asp-controller="CustomerSupport" asp-action="Index" asp-route-id=2>Om oss</a></td>
                </tr>
                <tr>
                    <td><a asp-controller="CustomerSupport" asp-action="Index" asp-route-id=3>Retur & Byten</a></td>
                    <td><a asp-controller="CustomerSupport" asp-action="Index" asp-route-id=4>Leverans</a></td>
                </tr>
                <tr>
                    <td><a asp-controller="Account" asp-action="Register">Registrera dig</a></td>
                    <td><a asp-controller="CustomerSupport" asp-action="Index" asp-route-id=5>Köpvillkor</a></td>
                </tr>
            </table>
        </div>




        <div class="copyFoot">&copy; FMC 2017 | Cookies | Sekretesspolicy | Regler & Vilkor | Ansvarig utgivare</div>
    </footer>

    <script src="http://ajax.aspnetcdn.com/ajax/jquery/jquery-3.2.1.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.js"></script>
    <script src="~/StaticFiles/Scripts/JS/mainScript.js"></script>
</body>
</html>
