<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FMC Webshop</title>
    <link href="~/StaticFiles/StyleSheets/layoutStyleSheet.css" rel="stylesheet" />
</head>
<body>
    <input id="userAndCartVisible" type="hidden" value="0" />
    <header class="pageHead">
        <a asp-controller="Home" asp-action="Index">
            <div class="topHead">
                <div id="logo"></div>
                <div id="searchBar"></div>
            </div>
        </a>

        <div class="menuBar">
            <ul id="menuList">
                <li><a href="" onclick="ShowMenu(1); return false;">SKOR</a></li>
                <li><a href="" onclick="ShowMenu(2); return false;">VARUMÄRKEN</a></li>
                <li><a href="" onclick="ShowMenu(3); return false;">ACCESSOARER</a></li>
                <li><a href="" onclick="ShowMenu(4); return false;">GUIDE</a></li>
                <li><a href="" onclick="ShowMenu(5); return false;">REA</a></li>
                
            </ul>
            <div id="menuIcons">
                <img id="userLogo" src="~/StaticFiles/Pics/Layout/userLogo.png" />
                <img id="cartLogo" src="~/StaticFiles/Pics/Layout/cartLogo.png" />
            </div>
        </div>

    </header>

    <div class="dropDownMenu">

    </div>

    <div class="userAndCartDiv">

    </div>

    <div class="wrapper">
        @RenderBody()
    </div>

    <footer class="pageFoot">
        <div class="infoFoot">
            <table class="footTable">
                
                <tr>
                    <th>KUNDSERVICE</th>
                    <th>INFORMATION</th>
                </tr>
                <tr>
                    <td>Kontakta oss</td>
                    <td>Om oss</td>
                </tr>
                <tr>
                    <td>Retur & Byten</td>
                    <td>Leverans</td>
                </tr>
                <tr>
                    <td>Registrera dig</td>
                    <td>Köpvillkor</td>
                </tr>
            </table>
        </div>




        <div class="copyFoot">&copy; FMC 2017 | Cookies | Sekretesspolicy | Regler & Vilkor | Ansvarig utgivare</div>
    </footer>

    <script src="http://ajax.aspnetcdn.com/ajax/jquery/jquery-3.2.1.min.js"></script>
    <script src="~/StaticFiles/Scripts/JS/mainScript.js"></script>
</body>
</html>
