<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FMC Webshop</title>
    <link href="~/StaticFiles/layoutStyleSheet.css" rel="stylesheet" />
</head>
<body>
    <header class="pageHead">

        <div class="topHead">
            <div id="logo"></div>
            <div id="searchBar"></div>
            <div id="headNav"></div>
        </div>

        <div class="menuBar">
            <ul id="menuList">
                <li><a href="">SKOR</a></li>
                <li><a href="">VARUMÄRKEN</a></li>
                <li><a href="">ACCESSOARER</a></li>
                <li><a href="">GUIDE</a></li>
                <li><a href="">REA</a></li>
            </ul>
        </div>

    </header>

    <div class="wrapper">
        @RenderBody()
    </div>

    <footer class="pageFoot">
        <div class="infoFoot">
            <table class="footTable">
                
                <tr>
                    <th>KUNDSERVICE</th>
                    <th>INFORMATION</th>
                </tr>
                <tr>
                    <td>Kontakta oss</td>
                    <td>Om oss</td>
                </tr>
                <tr>
                    <td>Retur & Byten</td>
                    <td>Leverans</td>
                </tr>
                <tr>
                    <td>Registrera dig</td>
                    <td>Köpvillkor</td>
                </tr>
            </table>
        </div>




        <div class="copyFoot">&copy; FMC 2017</div>
    </footer>
</body>
</html>
