@model AccountLoggedInVM


<div class="loggedInDiv">

    <p>Du är inloggad som <strong>@Model.UserName</strong></p>
    <a onclick="GetProfile()">Min profil</a><br />
    <a asp-controller="Account" asp-action="MyOrders">Mina ordrar</a><br /><br /><br />
    <a id="logOut" asp-controller="Account" asp-action="LogOut">Logga ut</a>
    
</div>