<h1>RETUR OCH BYTEN</h1>
<hr />
<p>
    Motsvarade inte varan dina förväntningar, eller ville du byta storlek? Här finner du information om vad som händer när du har skickat en retur eller gjort ett byte. Tänk på att du har 14 dagar på dig på att bestämma dig för om du önskar behålla dina produkter, räknat ifrån att du mottog paketet.

    Kom ihåg att det är du som kund som ansvarar för returen fram till att vi har mottagit och registrerat den, så spara alltid ditt inlämningskvitto. Det kan ibland ta upp till 14 dagar för en retur att komma till oss och behandlas på vårt lager.

</p>
<h2>KOSTAR DET NÅGONTING ATT GÖRA EN RETUR?</h2>
   <p> Ja, det tillkommer returporto á 39 kr när du väljer att göra en retur.</p>

<h2>
    HAR NI MOTTAGIT MIN RETUR?
</h2>
       <p> Du kommer få en returbekräftelse via mail så fort vi mottagit din retur. Det kan ibland ta upp till 14 dagar för en retur att komma till oss och behandlas på vårt lager.
    </p>
        <h2>FÅR JAG EN NY FAKTURA PÅ DET NYA BELOPPET OM JAG GÖR EN RETUR?</h2>
       <p> Ja, finns det någonting kvar att betala på fakturan skickar Qliro en uppdaterad faktura via mail till dig efter att vi har behandlat din retur. Du kan även se din uppdaterade faktura inne på Mina Sidor hos Qliro. Om du vill betala din faktura innan vi har behandlat din retur så drar du av beloppet för varorna du har returnerat. Tänk på att lägga till 39:- om du har gjort en retur. Har du däremot gjort ett byte är returfrakten gratis. OBS! Vid retur återbetalas inte extra tilläggsavgifter som t.ex. 48h Express eller Express Hemleverans. Fler frågor? Hör av dig till Qliro på 08-40 900 300


    </p>
        <h2>KAN JAG RETURNERA VAROR FRÅN OLIKA BESTÄLLNINGAR I SAMMA PAKET?</h2>
       <p> Det går självklart bra att lägga varor från olika beställningar i ett och samma returpaket. Tänk bara på att du måste skicka med en returnota för vardera beställning, annars kan vi inte registrera dina returer.
    </p>
        <h2>FÅR JAG RETURNERA REA-VAROR?</h2>
       <p> Självklart! Du har samma retur- och bytesrätt för alla varor du handlar hos oss.
</p>