<h1>ALLMÄNNA KÖPVILLKOR</h1>
<hr/>
<h2>ALLMÄNT</h2>
<p>
    Dessa villkor gäller alla beställningar som görs av kunden hos FMC AB, org. nr 556656-9999, via vår e-handelsbutik FMC (nedan ”hemsidan”). Genom att använda och/eller göra en beställning via hemsidan godkänner du villkoren som anges i detta dokument (”Villkoren”), samt godkänner och bekräftar du att du samtyckt till och tagit del av informationen om personuppgifter och användningen av cookies enligt vår integritetspolicy, som utgör en integrerad del av dessa Villkor.

    Utförliga kontaktuppgifter och övrig information om oss framgår av hemsidan. För att handla hos oss måste du vara över 18 år, inte stå under förmyndarskap och vara bosatt i Sverige, Norge eller Finland. Vi förbehåller oss rätten att i enskilda fall neka eller ändra din beställning (exempelvis om du uppgett felaktiga personuppgifter).

    Vi reserverar oss för slutförsäljning samt eventuella bild- och skrivfel på hemsidan. Dessa villkor kan komma att ändras. Den version av Villkoren som gäller för din beställning är den version som finns tillgänglig på hemsidan när du gör din beställning.
</p>
<h2>AVTAL</h2>
<p>Vid en beställning på hemsidan ingås avtal om köp först när du mottagit orderbekräftelse från oss per e-post. Vi uppmanar dig att spara orderbekräftelsen för eventuella kontakter med vår kundservice. Du kan återkalla din beställning fram till dess att den bekräftats av oss.</p>
<h2>KUNDUPPGIFTER M.M.</h2>
<p>När du ska genomföra en beställning på hemsidan kommer du att bli ombedd att lämna vissa personuppgifter. Du bekräftar att de uppgifter som du fyller i är korrekta och fullständiga, och du ansvarar för felaktigt ifyllda uppgifter. För närmare information om vår behandling av personuppgifter, se vår integritetspolicy.</p>
<h2>BESTÄLLNING OCH PRISER</h2>
<p>
    Vid beställning via hemsidan gäller de priser som var aktuellt vid beställningstillfället oavsett om priset går upp eller ned efteråt. Alla priser på hemsidan anges i SEK och är inklusive moms (25 %). Läs om de olika betalningssätten och hitta det som passar dig bäst.

    Viktigt! Spara alltid ditt presentkort efter genomfört köp. Vid eventuell retur återbetalas summan alltid till det presentkort som du använt vid din betalning.
</p>
<h2>BETALNING</h2>
<p>
    I samarbete med Klarna erbjuder vi fakturabetalning, delbetalning, kontokortsbetalning och direktbetalning. Fullständiga villkor för Klarna Checkout hittar du här.

    Fakturan skickas ut separat via e-post i samband med att ordern skickas från oss. Kredittiden på fakturan är 14 dagar. Mer information och fullständiga villkor om Klarnas betalsätt hittar du hos Klarna.com.

    I kassan kan man se det totala priset inklusive moms och eventuell fraktkostnad. I kassan hittar du också fullständiga frakt- och betalningsvillkor.
</p>