@model int

<div class="httpErrorPage">
    <h1>Hej du! Nu verkar allt inte ha gått helt korrekt.</h1>
    <h2>Du har fått HTTP-fel nummer @Model</h2>
    <p>
        Förmodligen har du försökt nå en sida som helt enkelt inte existerar. Skulle det vara ett
        problem som kvarstår så är du välkommen att höra av dig till vår <a href="">kundservice</a>. Annars ber
        vi dig helt enkelt att prova en annan sida!
    </p>
</div>