<div class="guideContentDiv">
    <h1>VÅRDA DINA SKOR</h1>
    <h2>RENGÖRING</h2>
    <p>Skor som har tagit stryk av dåligt väder eller blivit misskötta en längre tid kan behöva tvättas. Det räcker ofta att torka av skorna med en fuktig trasa. Olika material kräver olika typer av rengöring, följ vår guide nedan för att ta hand om just dina skor på bästa möjliga sätt.</p>
    <h3>Skinnskor</h3>
    <p>En skinnsko kan man tvätta upp med lädertvål, galltvål eller skumtvål. Välj tvål som du vet är bra, eller prata med din skomakare.</p>
    <ol>
        <li>Börja med att torka av skorna med ren bensin på en bit hushållspapper.  Det tar bort gammal skokräm m.m.</li>
        <li>Ta bort skoband och lösa innersulor. Sen tar man tvål och en skumgummisvamp.</li>
        <li>In under rinnande vatten och löddra upp hela skon med tvålen. Det är viktigt att skon blir jämnt blöt annars kan vattenmärken uppkomma. Glöm ej plösen!</li>
        <li>Torka skon med papper eller handduk. Torka noggrant. Det har man igen när de skall krämborstas.</li>
        <li>Låt skorna torka i rumstemperatur 1 dygn. Gärna med cederblock isatta.</li>
        <li>Nu är det dags att applicera en skokräm - gärna med mycket olika oljor och bivax. Undvik siliconkrämer eller självglanser. Man får alltid ett bättre resultat om man använder krämer med färgpigment. </li>
        <li>Applicera krämen i cirkelrörelser. Var noga med att få in kräm vid sulkanten då det oftast är där som fukten når skorna först. Lägg på 2 lager kräm och låt torka ca 5 min emellan varje applicering.</li>
        <li>Efter 10-15 min är det dags att börja jobba upp en ny yta på skorna med en skoborste av tagelborst. Gärna så tät som möjligt. Desto tätare borsten är, desto varmare blir det när du borstar och då går krämen in i skinnet. En tumregel är ca 2 min per sko. Så jobba på!</li>
    </ol>
    <h3>Mockaskor</h3>
    <p>En mockasko kan ibland behöva tvättas upp ordentligt. T.ex. när de har fått saltränder eller bara blivit fläckiga. Välj en tvål som är anpassad för mocka/nubuck. Använd inte glycerintvål. Har du fått saltränder så kan det behövas en kraftigare tvål. Här kan en nagelborste vara bra så du kommer ner på djupet.</p>
    <ol>
        <li>Ta bort skoband och lösa innersulor.</li>
        <li>Fukta skon under rinnande vatten. Det är viktigt att skon blir jämnt fuktig annars kan vattenränder uppkomma.</li>
        <li>Löddra in hela skon ordentligt och skrubba med en nagelborste. Glöm inte plösen.</li>
        <li>Skölj av skummet och torka noggrant med papper eller handduk. Det har man igen senare, när dem skall borstas upp igen. Låt de torka med cederträskoblock isatta ca 1 dygn.</li>
        <li>När skon har torkat ska du rugga upp mockaytan igen. Använd en mockaborste - gärna med lite mässingsborst.</li>
        <li>När du fått upp en yta som liknar originalet är det dags att spreja på ett nytt skydd. Det finns impregnering med färg vilket är att föredra för ett snyggare slutresultat.</li>
    </ol>
    <p>För att sköta dina mockaskor på ett proffsigt sätt skall du borsta och impregnera dem 2-3 ggr i veckan. Har de blivit genomblöta, låt dem torka i rumstemperatur med cederträskoblock isatta. Det tar ca 1 dygn innan skon är torr. När de torkat, rugga upp ytan med en mockaborste och impregnera dem igen.</p>
    <h2>MATERIAL</h2>
    <h3>Oljat läder</h3>
    <p>Oljat läder är läder som har blivit behandlat med olja under materialförberedningen och/eller i tillverkningens slutskede. Rengör en torr sko med en mjuk borste och använd Foam Cleaner för att ta bort smuts. Använd vax för att bygga upp ett ännu starkare skydd mot vatten och avsluta gärna med ett vattenbaserat skydd.</p>
    <h3>Mjukt läder</h3>
    <p>Vanligt mjukt läder håller en lång tid om det inte torkar. Rengör en torr sko med en mjuk borste och använd Foam Cleaner för att ta bort smuts och för att bevara. Applicera skokräm för att skapa en fuktgivande effekt och bibehålla skons färg. Lämna för att torka innan du polerar ytan med en borste.</p>
    <h3>Mocka</h3>
    <p>Mocka är ofta lädrets baksida, vilken blivit behandlad för att få en mjuk finish. Den här typen av läder är ytterst känslig mot vatten och drar till sig smuts väldigt enkelt. Just därför är det viktigt att behandla dina skor regelbundet. Rengör en torr sko med en mockaborste och använd Foam Cleaner för att ta bort smuts och för att bevara. Avsluta med ett vattenbaserat skydd.</p>
    <h2>SAKER ATT GÖRA</h2>
    <h3>Rätt produkter</h3>
    <p>Kom ihåg att du behöver olika produkter och verktyg beroende på material.</p>
    <h3>Torktid</h3>
    <p>Låt dina skor vila i minst 24 timmar innan du använder dina skor igen. Använd ett skoträd så fort du inte använder dina skor. Det hjälper för att behålla formen.</p>
    <h3>Förvaring</h3>
    <p>När du inte använder dina skor, torka av dem och förvara dem i sin skolåda eller i din skogarderob.</p>
</div>