<div class="startPageContentDiv">

    <div class="frontpageLeftDiv">
        <img src="~/StaticFiles/everyday.jpg" />
        <img src="~/StaticFiles/outdoor.jpg" />
        <img src="~/StaticFiles/specialoccassions.jpg" />
    </div>



    <div class="frontpageRightDiv">
        <img src="~/StaticFiles/fallnews.jpg" />
        <img src="~/StaticFiles/accesories.jpg" />
        <img src="~/StaticFiles/shoecare.jpg" />
    </div>

</div>