<div class="startPageContentDiv">

    <div class="frontpageLeftDiv">
        <a asp-controller="Product" asp-action="ProductItem" asp-route-id="10011"><img src="~/StaticFiles/everyday.jpg" /></a>
        <a href=""><img src="~/StaticFiles/outdoor.jpg" /></a>
        <a href=""><img src="~/StaticFiles/specialoccassions.jpg" /></a>
    </div>



    <div class="frontpageRightDiv">
        <a href=""><img src="~/StaticFiles/fallnews.jpg" /></a>
        <a href=""><img src="~/StaticFiles/accesories.jpg" /></a>
        <a href=""><img src="~/StaticFiles/shoecare.jpg" /></a>
    </div>

</div>