@font-face {
    font-family: 'lato-light';
    src: url('lato-light.ttf') format('truetype');
}
@font-face {
    font-family: 'theanooldstyle-regular';
    src: url('theanooldstyle-regular.ttf') format('truetype');
}

body {
    /*Färgvariabler*/
    --base-color: #330000;
    --background-grey: #F0F0F0;
    --dark-grey: #282828;
    --light-grey: #DCDCDC;
    /*---------------------------------------*/
    position: relative;
    margin: 0;
    padding: 0 0 300px 0;
    font-family: 'theanooldstyle-regular';
    background-color: var(--background-grey);
    color: var(--dark-grey);
}

h1 {
    font-family: 'theanooldstyle-regular';
}


#uselessText {
    font-family: 'lato-light';
    font-size: 16px;
}


/*********************************************     HEADER     ***********/
.pageHead {
    height: 390px;
    width: 100%;
    margin: 0;
    padding: 0;
}

    .pageHead .topHead {
        height: 341px;
        background-image: url('header1.png');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }

    .pageHead .menuBar {
        height: 50px;
        width: 100%;
        position: absolute;
        background-color: var(--base-color);
        background: linear-gradient(#200000, var(--base-color));
    }


.menuBar ul {
    list-style-type: none;
    height: 50px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    display: inline-block;
}

    .menuBar ul li {
        float: left;
    }

        .menuBar ul li a {
            display: inline-block;
            padding: 13px 60px;
            font-size: 16px;
            text-decoration: none;
            color: var(--light-grey);
        }

#menuIcons {
    display: inline-block;
    float: right;
    padding: 0 0 0 0;
    height: 50px;
    margin-right: 10px;
    cursor: pointer;
}

    #menuIcons img {
        padding: 5px 10px;
        padding-bottom: 6px;
        width: 40px;
        height: 41px;
        margin: 0;
    }

.userAndCartDiv {
    height: 230px;
    width: 250px;
    float: right;
    padding: 4px 0 0 6px;
    display: none;
    background-color: white;
    border-bottom: 1px outset;
    border-left: 1px outset;
    border-right: 1px outset;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    position: absolute;
    right: 0;
    z-index: 1;
}

.dropDownMenu {
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    display: none;
    background-color: white;
    border-bottom: 1px solid var(--base-color);
    border-left: 1px solid var(--base-color);
    border-right: 1px solid var(--base-color);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    padding: 6px 20px 0 20px;
    position: absolute;
    z-index: 1;
}


/****************************************   CONTENT   ********************************************/
.wrapper {
    background-color: white;
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding: 6px 20px 0 20px;
}


/****************************************   FOOTER   ********************************************/
.pageFoot {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 280px;
}

    .pageFoot .infoFoot {
        height: 250px;
        background-color: var(--base-color);
    }

        .pageFoot .infoFoot .footTable {
            padding-left: 30px;
            padding-top: 30px;
            color: var(--light-grey);
        }

            .pageFoot .infoFoot .footTable th {
                width: 200px;
                text-align: left;
                font-family: 'theanooldstyle-regular';
            }

            .pageFoot .infoFoot .footTable td {
                font-family: 'lato-light';
                padding-top: 10px;
            }

    .pageFoot .copyFoot {
        height: 30px;
        background-color: var(--background-grey);
        /*border-top: 1px solid var(--background-grey);*/
        color: var(--base-color);
        text-align: center;
        font-size: 14px;
        padding-top: 12px;
    }

/*****************************    Log In   ***************************************/

.loginForm a {
    color: var(--base-color);
    text-decoration-style: none;
    font-family: 'lato-light';
}

    .loginForm a:hover {
        color: var(--light-grey);
        cursor: pointer;
    }

.loginForm label {
    font-family: 'lato-light';
    color: var(--dark-grey);
}

.loginForm input {
    border-radius: 2px;
}

/*****************************    Logged In   ***************************************/

.loggedInDiv a,p {
    color: var(--dark-grey);
    text-decoration: none;
    font-family: 'lato-light';
    
}

    .loggedInDiv a:hover {
        color: var(--light-grey);
        cursor: pointer;
    }

#logOut {
    color: var(--base-color);
    position:absolute;
    bottom: 3px;
}

#logOut:hover {
    color: var(--light-grey);
}

/*****************************    PROFILE       ***************************************/

.profileSidebarMenuDiv {
    width: 170px;
    color: black;
    display: inline-block;
    vertical-align: top;
    border-right: 1px solid var(--base-color);
    margin-right: 50px;
    font-family: 'lato-light';
}

.profileSidebarMenuDiv #profileUL {
    list-style: none;
}

    .profileSidebarMenuDiv #profileUL a {
        text-decoration: none;
        color: var(--dark-grey);
        
    }

    .profileContentDiv {
        width: 800px;
        color: black;
        display: inline-block;
    }


/*****************************    View Profil   ***************************************/
#ProfileDiv {
    font-family: 'lato-light';
}
#ProfileDiv h1 {
    color: var(--base-color);
    font-family: 'lato-light';
}
tr.strongTR>td {
    padding-top: 40px;
}
/*****************************    Edit Profile Form   ***************************************/
.EditForm {
    font-family: 'lato-light';
}

.dividedDiv {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    position: relative;
}

.dividedDiv .saveButtonEditProfile{
    position: absolute;
    right: 4px;
}

