@font-face {
    font-family: 'lato-light';
    src: url('lato-light.ttf') format('truetype');
}

@font-face {
    font-family: 'theanooldstyle-regular';
    src: url('theanooldstyle-regular.ttf') format('truetype');
}

html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    /*Färgvariabler*/
    --base-color: #330000;
    --background-grey: #F0F0F0;
    --dark-grey: #282828;
    --light-grey: #DCDCDC;
    /*---------------------------------------*/
    position: relative;
    margin: 0;
    padding: 0 0 300px 0;
    font-family: 'theanooldstyle-regular';
    background-color: var(--background-grey);
    color: var(--dark-grey);
}

hr {
    background-color: var(--base-color);
    margin: 0;
}

h1 {
    font-family: 'theanooldstyle-regular';
}


#uselessText {
    font-family: 'lato-light';
    font-size: 16px;
}


/*********************************************     HEADER     ***********/
.pageHead {
    height: 390px;
    width: 100%;
    margin: 0;
    padding: 0;
}

    .pageHead .topHead {
        height: 341px;
        background-image: url('header1.png');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }

    .pageHead .menuBar {
        height: 50px;
        width: 100%;
        position: absolute;
        background-color: var(--base-color);
        background: linear-gradient(#200000, var(--base-color));
    }


.menuBar ul {
    list-style-type: none;
    height: 50px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    display: inline-block;
}

    .menuBar ul li {
        float: left;
    }
    .menuBar ul li:hover {
        cursor:pointer;
    }

        .menuBar ul li a {
            display: inline-block;
            padding: 13px 60px;
            font-size: 16px;
            text-decoration: none;
            color: var(--light-grey);
        }

#menuIcons {
    float: right;
    padding: 0 0 0 0;
    height: 50px;
    margin-right: 10px;
    cursor: pointer;
}

    #menuIcons img {
        height: 50px;
        margin: 0;
        padding: 4px;
    }

.userAndCartDiv {
    height: 230px;
    width: 250px;
    float: right;
    padding: 4px 0 0 6px;
    display: none;
    background-color: white;
    border-bottom: 1px outset;
    border-left: 1px outset;
    border-right: 1px outset;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    position: absolute;
    right: 0;
    z-index: 1;
}


.mainRowCartDiv {
    margin: 0;
    line-height: 90%;
    font-family: lato-light;
}

.mainRowCartDiv span {
    font-weight: bolder;
}


.prodPriceInCartDiv {
    float: right;
    font-weight: bold;
    font-family: lato-light;
    margin-right: 2%;
}


.subRowCartPara {
    margin: 0 0 6% 0;
    font-family: lato-light;
    font-size: 70%;
}

.totalsCartDiv p {
    margin: 0;
}

.bottomOfCartDiv a {
    text-decoration: none;
    cursor: pointer;
    font-family: lato-light;
    color: var(--base-color);
    position: absolute;
    bottom: 2%;
    right: 2%;

}

.bottomOfCartDiv a:hover {
    color: var(--dark-grey);
}


#cartCount {
    color: white;
    position: relative;
    display: inline-block;
    right: 34px;
    top: 10px;
    vertical-align: top;
    z-index: 99;
    font-family: lato-light;
    font-weight: bold;
    width: 1px;
}

.dropDownMenu {
    width: 710px;
    margin-left: auto;
    margin-right: auto;
    height: 208px;
    display: none;
    background-color: white;
    border-bottom: 1px solid var(--base-color);
    border-left: 1px solid var(--base-color);
    border-right: 1px solid var(--base-color);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    padding: 6px 20px 0 20px;
    position: absolute;
    z-index: 1;
}

.dropDownLinksDiv {
    /*height: 160px;*/
}

.dropDownMenu h2 {
    color: var(--dark-grey);
    margin: 1% 0;
}

.dropDownMenu hr {
    margin-bottom: 0.4%;
}

.dropDownMenu a {
    display: block;
    text-decoration:none;
    color: var(--dark-grey);
    font-family: lato-light;
}

/****************************************   CONTENT   ********************************************/

.wrapper {
    background-color: white;
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding: 6px 20px 0 20px;
}

/****************************************   GUIDE PAGE   ********************************************/

.guideContentDiv h1, h2 {
    font-family: theanooldstyle-regular;
    color: var(--base-color);
}

.guideContentDiv h3 {
    font-family: lato-light;
    color: var(--base-color);
}

.guideContentDiv ol {
    font-family: lato-light;
    color: var(--base-grey);
}



    /****************************************   INDEX   ********************************************/
    .startPageContentDiv {
        width: 1100px;
        position: relative;
        padding: 6px 15px 0 15px;
    }


.frontpageLeftDiv {
    /*position: absolute;*/
    /*margin-left: 50px;
    margin-right: 40px;*/
    margin-top: 12px;
    display: inline-block;
    margin-right: 24px;
}

    .frontpageLeftDiv img {
        width: 500px;
        margin-bottom: 24px;
        display: block;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        border-radius: 3px;
    }

    .frontpageLeftDiv img:hover {
        -webkit-transform:scale(1.03);
        transform:scale(1.03); 
    }


.frontpageRightDiv {
    margin-top: 12px;
    display: inline-block;
}

    .frontpageRightDiv img {
        width: 500px;
        margin-bottom: 24px;
        display: block;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        border-radius: 3px;
    }

.frontpageRightDiv img:hover {
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
}

/****************************************   PRODUCT OVERVIEW PAGE   ********************************************/



.productOverviewDiv {
    width: 100%;
    text-align: center;
    margin-top: 12px;
}

.productElementDiv {
    display: inline-block;
    width: 20%;
    margin: 1% 2%;
    padding: 0 1%;
    text-align: left;
    border: 1px outset;
    border-radius: 2%;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.productElementDiv:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.productOverviewDiv a{
    text-decoration: none;
    outline: none;
}


.productElementDiv img{
    width: 100%;
}

#elementBrand {
    font-family: lato-light;
    color: var(--dark-grey);
    font-weight: bold;
    font-size: 110%;
    margin: 0;
}

#elementPrice {
    font-family: lato-light;
    color: var(--dark-grey);
    float: right;
    margin-bottom:0;
}

#elementModel {
    font-family: lato-light;
    color: var(--dark-grey);
    margin: 0;
    margin-top: 1%;
    margin-bottom: 9%;

}

/****************************************   PRODUCT ITEM PAGE   ********************************************/

.productContentWrapperDiv {
    height: 600px;
}

.pictureDiv {
    width: 56%;
    display: inline-block;
}

.mainPictureDiv {
    display: inline-block;
}

    .mainPictureDiv img {
        width: 500px;
    }

.miniPicturesDiv {
    display: inline-block;
    vertical-align: top;
}

.miniPicturesDiv img {
    border: 1px outset;
    border-radius: 2px;
    margin: 5px;
    width: 50px;
    display: block;
    margin-top: 32%;
    cursor: pointer;
}

.productContentDiv {
    display: inline-block;
    width: 40%;
    vertical-align: top;
    padding-left: 50px;
}

.productContentDiv h1, h2 {
    font-family: lato-light;
    color: var(--dark-grey);
    margin: 0;
}

#priceSpan {
    float: right;
}

.productContentDiv #artNr {
    font-size: 10px;
    margin: 0;
    margin-bottom: 20px;
}

.productContentDiv label, select {
    font-family: lato-light;
}

#sizeDropDown {
    margin-right: 20px;
}

#placeOrderBtn {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 90%;
    font-family: lato-light;
    background-color: var(--base-color);
    color: var(--light-grey);
    font-size: 18px;
    font-weight: bold;
    height: 50px;
    border: none;
    border-radius: 6px;
    cursor: pointer;

}


.productDescriptionDiv {
    font-family: lato-light;
    margin-bottom: 30px;
    margin-top: 20px;
}



/****************************************   FOOTER   ********************************************/
.pageFoot {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 280px;
}

    .pageFoot .infoFoot {
        height: 250px;
        background-color: var(--base-color);
    }

        .pageFoot .infoFoot .footTable {
            padding-left: 30px;
            padding-top: 30px;
            color: var(--light-grey);
        }

            .pageFoot .infoFoot .footTable th {
                width: 200px;
                text-align: left;
                font-family: 'theanooldstyle-regular';
            }

            .pageFoot .infoFoot .footTable td {
                font-family: 'lato-light';
                padding-top: 10px;
            }

    .pageFoot .copyFoot {
        height: 30px;
        background-color: var(--background-grey);
        color: var(--base-color);
        text-align: center;
        font-size: 14px;
        padding-top: 0.2%;
    }

/*****************************    Log In   ***************************************/

.loginForm a {
    color: var(--base-color);
    text-decoration-style: none;
    font-family: 'lato-light';
}

    .loginForm a:hover {
        color: var(--light-grey);
        cursor: pointer;
    }

.loginForm label {
    font-family: 'lato-light';
    color: var(--dark-grey);
}

.loginForm input {
    border-radius: 2px;
}

/*****************************    Logged In   ***************************************/

.loggedInDiv a, p {
    color: var(--dark-grey);
    text-decoration: none;
    font-family: 'lato-light';
}

    .loggedInDiv a:hover {
        color: var(--light-grey);
        cursor: pointer;
    }

#logOut {
    color: var(--base-color);
    position: absolute;
    bottom: 3px;
}

    #logOut:hover {
        color: var(--light-grey);
    }

/*****************************    PROFILE       ***************************************/

.profileSidebarMenuDiv {
    width: 170px;
    color: black;
    display: inline-block;
    vertical-align: top;
    border-right: 1px solid var(--base-color);
    margin-right: 50px;
    font-family: 'lato-light';
}

    .profileSidebarMenuDiv #profileUL {
        list-style: none;
    }

        .profileSidebarMenuDiv #profileUL a {
            text-decoration: none;
            color: var(--dark-grey);
        }

.profileContentDiv {
    width: 800px;
    color: black;
    display: inline-block;
}


/*****************************    View Profil   ***************************************/
#ProfileDiv {
    font-family: 'lato-light';
}

    #ProfileDiv h1 {
        color: var(--base-color);
        font-family: 'lato-light';
    }

tr.strongTR > td {
    padding-top: 40px;
}
/*****************************    Edit Profile Form   ***************************************/
.EditForm {
    font-family: 'lato-light';
}

.dividedDiv {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    position: relative;
}

    .dividedDiv .saveButtonEditProfile {
        position: absolute;
        right: 4px;
    }
