@font-face {
    font-family: 'lato-light';
    src: url('../../wwwroot/staticfiles/stylesheets/lato-light.ttf') format('truetype');
}

/*****************************    Log In   ***************************************/

.loginForm a {
    color: #330000;
    text-decoration-style: none;
    font-family: 'lato-light';
}

.loginForm a:hover {
    color: #282828;
}

.loginForm label {
    font-family: 'lato-light';
    color: #282828;
}

.loginForm input {
    border-radius: 2px;
}

/*****************************    Logged In   ***************************************/

.loggedInDiv a {
    color: #282828;
    text-decoration-style: none;
    font-family: 'lato-light';
}
.loggedInDiv a:hover {
    color: #330000;
}
#logOut {
    color: #330000;
}
