@* ****** CUSTOMERSUPPORT / INDEX **********@


@*<script>
    window.onload = function () {
        ProfileMenuOption(1);
    };
</script>*@

<div class="customerSupportSidebarMenuDiv">
    <ul id="customerSupportUL">
        <li><a href="" onclick="CustomerSupportMenuOption(1); return false;">Kontakta oss</a></li>
        <li><a href="" onclick="CustomerSupportMenuOption(2); return false;">Retur & byten</a></li>
        <li><a asp-controller="Account" asp-action="Register">Registrera dig här!</a></li>

    </ul>

</div>
<div class="customerSupportContentDiv">

</div>